@media screen and (min-width: 1340px) {
    .hr {
        display: none;
    }

}

@media screen and (max-width: 1340px) and (min-width: 1100px) {
    .hr {
        display: none;
    }
  
}
@media screen and (max-width: 1099px) and (min-width: 850px) {


    span#icon {
        display: none;
    }

    header {
        position: fixed;
        right: 32px;
        top: 28px;
        z-index: 111;
        font-size: 28px;
        display: block;
        border-radius: 5px;
        padding: 10px 15px;
        background: #4c4848b8;
    }

    .smallDeviceMenu {
        position: fixed;
        background: #262626;
        z-index: 1;
        width: 100%;
        height: 100%;
        top: 0;
        left: -100%;
        transition: 0.8s;
    }

    .smallDeviceMenuActive {
        left: 0
    }

    .smallDeviceMenu ul {
        padding-top: 70px;
    }

    hr.hr {
        width: 100%;
        margin: 0px 12px;
        margin-top: -11px;
    }

    span#crosssIcon {
        display: none;
    }

    #menuIcon {
        display: block;
    }

    .add {
        display: block !important;
    }

    .remove {
        display: none !important;
    }

    .iconBox {
        font-size: 26px;
        width: 50px;
        height: 50px;
        list-style: none;
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;
        transition: all 0.3s ease 0s;
        margin: 20px 0px;
        border-radius: 50%;
        background: none !important;
    }

    .iconBox a h2 {
        z-index: -1;
        position: absolute;
        top: 0px;
        left: 23px;
        opacity: 1;
        color: rgb(255, 255, 255);
        line-height: 50px;
        font-weight: 500;
        transition: none;
        border-radius: 30px;
        text-transform: uppercase;
        padding: 0px 25px 0px 30px;
        height: 50px;
        font-size: 23px;
        background: none !important;
    }
    .content2 {
        background: rgb(17, 17, 17);
        width: 10%;
        z-index: 0;
    }
    textarea#text{
        width: 100%;
    }
    .contactFullPage {
        width: 100%;
    }
    .flexBoxTwo {
        margin-left: 44px;
        height: 100%;
        width: 60%;
    }

}

@media screen and (max-width: 849px) and (min-width: 600px) {
    .flexBoxOne {
        padding: 10px;
        height: 100%;
        width: 100%;
    }
    .flexBoxTwo {
        margin-top: 30px;
        height: 100%;
        width: 100%;
    }
    .flexBox {
        display: flex;
        flex-direction: column;
        padding-bottom: 40px;
    }
    .waterMark h1 {
        font-size: 55px;
        color: rgba(255, 255, 255, 0.18);
        font-family: Newsreader, serif;
    }
    .waterMark h2 {
        position: relative;
        bottom: 45px;
        font-size: 28px;
        display: inline-block;
        font-family: Newsreader, serif;
        font-weight: 600;
    }
    .flexBoxOne h1 {
        font-size: 25px;
    }
    textarea#text{
        width: 90%;
    }
    span#icon {
        display: none;
    }

    header {
        position: fixed;
        right: 32px;
        top: 28px;
        z-index: 111;
        font-size: 28px;
        display: block;
        border-radius: 5px;
        padding: 10px 15px;
        background: #4c4848b8;
    }


    .smallDeviceMenu {
        position: fixed;
        background: #262626;
        z-index: 1;
        width: 100%;
        height: 100%;
        top: 0;
        left: -100%;
        transition: 0.8s;
    }

    .smallDeviceMenuActive {
        left: 0
    }

    .smallDeviceMenu ul {
        padding-top: 70px;
    }

    hr.hr {
        width: 100%;
        margin: 0px 12px;
        margin-top: -11px;
    }

    span#crosssIcon {
        display: none;
    }

    #menuIcon {
        display: block;
    }

    .add {
        display: block !important;
    }

    .remove {
        display: none !important;
    }

    .iconBox {
        font-size: 26px;
        width: 50px;
        height: 50px;
        list-style: none;
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;
        transition: all 0.3s ease 0s;
        margin: 20px 0px;
        border-radius: 50%;
        background: none !important;
    }

    .iconBox a h2 {
        z-index: -1;
        position: absolute;
        top: 0px;
        left: 23px;
        opacity: 1;
        color: rgb(255, 255, 255);
        line-height: 50px;
        font-weight: 500;
        transition: none;
        border-radius: 30px;
        text-transform: uppercase;
        padding: 0px 25px 0px 30px;
        height: 50px;
        font-size: 23px;
        background: none !important;
    }

}




@media screen and (max-width: 599px) and (min-width: 1px) {
    span#icon {
        display: none;
    }


    .flexBoxOne {
        padding: 10px;
        height: 100%;
        width: 100%;
    }
    .flexBoxTwo {
        margin-top: 30px;
        height: 100%;
        width: 100%;
    }
    .flexBox {
        display: flex;
        flex-direction: column;
        padding-bottom: 40px;
    }
    .contactFullPage {
        width: 100%;
        margin-top: 75px;
    }
    .inputBox {
        display: flex;
        flex-direction: column;
    }
    .inputBoxOne, .inputBoxTwo, .inputBoxThree {
        width: 100%;
        margin-top: 20px;
    }
    .waterMark h1 {
        font-size: 50px;
        color: rgba(255, 255, 255, 0.18);
        font-family: Newsreader, serif;
    }
    .waterMark h2 {
        position: relative;
        bottom: 41px;
        font-size: 25px;
        display: inline-block;
        font-family: Newsreader, serif;
        font-weight: 600;
    }
    .flexBoxOne h1 {
        font-size: 23px;
    }
    textarea#text{
        width: 90%;
    }

    header {
        position: fixed;
        right: 32px;
        top: 28px;
        z-index: 111;
        font-size: 28px;
        display: block;
        border-radius: 5px;
        padding: 10px 15px;
        background: #4c4848b8;
    }


    .smallDeviceMenu {
        position: fixed;
        background: #262626;
        z-index: 1;
        width: 100%;
        height: 100%;
        top: 0;
        left: -100%;
        transition: 0.8s;
    }

    .smallDeviceMenuActive {
        left: 0
    }

    .smallDeviceMenu ul {
        padding-top: 70px;
    }

    hr.hr {
        width: 100%;
        margin: 0px 12px;
        margin-top: -11px;
    }

    span#crosssIcon {
        display: none;
    }

    #menuIcon {
        display: block;
    }

    .add {
        display: block !important;
    }

    .remove {
        display: none !important;
    }

    .iconBox {
        font-size: 26px;
        width: 50px;
        height: 50px;
        list-style: none;
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;
        transition: all 0.3s ease 0s;
        margin: 20px 0px;
        border-radius: 50%;
        background: none !important;
    }

    .iconBox a h2 {
        z-index: -1;
        position: absolute;
        top: 0px;
        left: 23px;
        opacity: 1;
        color: rgb(255, 255, 255);
        line-height: 50px;
        font-weight: 500;
        transition: none;
        border-radius: 30px;
        text-transform: uppercase;
        padding: 0px 25px 0px 30px;
        height: 50px;
        font-size: 23px;
        background: none !important;
    }


}